.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
  }
  .modal-body pre {
    max-height: unset !important;
    height: 100%;
  }
  